<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button [defaultHref]="'/studente-dettaglio/'+studente?.id"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Pagamenti
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['crea-pagamento']">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col *ngIf="studente" size-md="6" offset-md="3">
        <ion-list>
          <ion-item *ngFor="let pagamento of studente.pagamenti;">
            <ion-label>{{'2022-'+pagamento.mese+'-01'|date:'MMMM':undefined:'it'|titlecase}} ({{pagamento.numeroOre}}h)
              {{pagamento.importo|currency:'EUR'}}</ion-label>
            <ion-button class="ion-no-padding ion-justify-content-right" fill="clear"
              [routerLink]="['modifica-pagamento',pagamento.id]">
              <ion-icon color="success" name="create-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button class="ion-no-padding ion-justify-content-right" fill="clear"
              (click)="onDeletePagamento(pagamento.id)">
              <ion-icon color="danger" name="trash-outline" slot="icon-only">
              </ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="!studente">
        <ion-card>
          <ion-card-content>
            <p>Studente non trovato!</p>
          </ion-card-content>
          <div>
            <ion-button routerLink="/home">Torna alla home</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>